[submodule "third_party/cutlass"]
	path = third_party/cutlass
	url = git@github.com:NVIDIA/cutlass.git
	shallow = true
[submodule "util"]
	path = util
	url = git@github.com:alecco/cuda_utils.git
[submodule "third_party/llm.c"]
	path = third_party/llm.c
	url = git@github.com:alecco/llm.c.git
	shallow = true
